<div>
  <p><a href='/auth/twitter'>Iniciar sesion con Twitter</a></p>
  <p><a href='/auth/facebook'>Iniciar sesion con Facebook</a></p>
  <p><a href='/auth/google_oauth2'>Iniciar sesion con Gmail</a></p>
  
</div>