/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require_self
 *= fullcalendar
 */

@mixin linear_gradient($from: #fafafa, $to: #ececec) {
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,$from),color-stop(100%,$to));
  background-image: -webkit-linear-gradient(top,$from,$to);
  background-image: -moz-linear-gradient(top,$from,$to);
  background-image: -o-linear-gradient(top,$from,$to);
  background-image: linear-gradient(top,$from,$to);
}

body {
	padding: 0px;
}

#calendar {
		width: 900px;
		margin: 0 auto;
		}
		
#content {
	border-top: 10px solid #3F6825;
  @include linear_gradient(#3d8a22,#55ad31);
}

#container {
  background-color: white;
  padding: 15px 25px;
  -moz-box-shadow:rgba(0, 0, 0, 0.25) 0 0 6px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.25) 0 0 6px 0px;
  box-shadow:rgba(0, 0, 0, 0.25) 0 0 6px 0px;
  margin-top: 20px;
}

.wrapper {
  width:  960px;
  margin:  0 auto;
}

h3 {
  font-size: 18px;
  font-family: Verdana, Sans-serif;
  font-weight: 200;
}

a {
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

#header a.logo {
  text-indent: -9999px;
  width: 265px;
  height:141px;
  background: url(/assets/logo-enkarplan.png) no-repeat center center;
  display: block;
}

h3.title {
  margin: 0;
}

#header {
	margin-top: 20px;
}

#session {
  float: right;
  margin-right: 0;
}

#lang-selector {
  float:  right;
  margin-left: 18px;
}

#all-pois-row {
  min-height: 350px;
}

#footer {
  display: block;
  color: white;
  background-color: #3f6825;
  height:  225px;
  min-width: 1010px;
  padding: 15px 0;
}

#footer #copyright {
  text-transform: uppercase;
  border-top:  1px solid #e5ede5;
  border-bottom:  1px solid #e5ede5;
}

#footer #copyright p {
  margin: 5px auto;
}

#footer a {
  text-decoration: underline;
  color:  white;
}

time {
  font-size: 11px;
  color: #AAA;
}

.popover h3.title {
  margin-bottom: 0;
}
